**/databases/*.bed
**/bed_files/*
!**/bed_files/.bed-placeholder
**/clair_models/*
!**/clair_models/.clair-placeholder
**/file_datatypes/*
!**/file_datatypes/.file-placeholder
**/gene_source/*
!**/gene_source/.gene-placeholder
**/reference_files/*
!**/reference_files/.reference-placeholder
**/search/*
!**/search/.search-placeholder
**/mnt/*
!**/mnt/.mnt-placeholder
**/vep/*
!**/vep/.vep-placeholder
**/vep/GCA_*
**/.nextflow*
**/frequency/*
!**/frequency/createNewFrequency.py